{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <div class="row">
        {% for post in posts %}
            <div class="col s12 m4">
                <a href="{{ path('post_show', {category:post.category.slug, post:post.slug }) }}">
                    <div class="card">
                        <div class="card-image">
                            {% if app.user %}
                                {% for user_seen_post in post.userSeenPosts %}
                                    {% if user_seen_post.user == app.user %}
                                        <button class="btn right halfway-fab">
                                            <i class="material-icons">remove_red_eye</i>
                                        </button>
                                    {% endif %}
                                    {% if user_seen_post.user == app.user %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="card-content">
                            <p>{{ post.title }}</p>
                            <p style="font-size: 10px;">Seen by {{ post.userSeenPosts|length }} people already</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
