{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {#<div class="row">#}
        {#<div class="col m4">#}
            {#<div class="center promo promo-example">#}
                {#<p class="promo-caption">Share & save code</p>#}
                {#<div class="divider"></div>#}
                {#<p class="light center">Share your own pieces of code for yourself, or for others</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col m4">#}
            {#<div class="center promo promo-example">#}
                {#<p class="promo-caption">Your data is safe!</p>#}
                {#<div class="divider"></div>#}
                {#<p class="light center">Countless hours have been put into this project, save your code and share it#}
                    {#with your friends or everyone!</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col m4">#}
            {#<div class="center promo promo-example">#}
                {#<p class="promo-caption">Easy to work with</p>#}
                {#<div class="divider"></div>#}
                {#<p class="light center">We have provided detailed documentation as well as specific code examples to#}
                    {#help new users get started.</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="row margin-text">
        <div class="center">
            <h2 class="category-text">Check out our most visited categories</h2>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6">
                <a href="{{ path('category', {slug:category.slug}) }}">
                    <div class="card darken-1">
                        <div class="card-content white-text">
                            <span style="color: black" class="card-title">{{ category.name }}</span>
                            <p class="description" style="color: black;">{{ category.description|raw }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
