{% extends 'base.html.twig' %}

{% block title %}Hello TutorialController!{% endblock %}

{% block body %}
    {% for tutorial in tutorials %}
        <a href="{{ path('tutorial_show', {slug: tutorial.slug}) }}">{{ tutorial.title }}</a> <br>
    {% endfor %}
{% endblock %}
