{% extends 'base.html.twig' %}

{% block title %}Hello TutorialController!{% endblock %}

{% block body %}
    {{ tutorial.title }}<br/><br/>
    {% for post in posts %}
        {{ post.title }} {{ post.id }}<br/>
    {% endfor %}
{% endblock %}
