html{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ca5662' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23431f20' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d06892' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23462531' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c681bd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23442d40' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b39bde' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%233e364c' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%239db4f1' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23373f54' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2390caf9' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23324757' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: scroll;
    background-size: cover;
}
@media only screen and (max-width: 600px) {
    html {
        height: 100%;
        width: 100%;
    }
}
.request {
    font-weight: 700;
}