{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<div class="container">
    <div class="row">
        <h3 class="h3 request">Register</h3>
        <div class="input-field col m6">
            {{ form_widget(form.email, { 'attr': {'class': 'validate', 'id': 'email', 'placeholder': 'Email'} }) }}
            <label for="email">Email</label>
        </div>
        <div class="input-field col m6">
            {{ form_widget(form.username, { 'attr': {'class': 'validate', 'id': 'username', 'placeholder': 'Username'} }) }}
            <label for="username">Username</label>
        </div>
        <div class="row">
            <div class="input-field col m6">
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'validate', 'id': 'password', 'placeholder': 'Password'} }) }}
                <label for="password">Password</label>
            </div>
            <div class="input-field col m6">
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'validate', 'id': 'password-repeat', 'placeholder': 'Password repeat'} }) }}
                <label for="password-repeat">Password repeat</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6">
                <button class="btn waves-effect waves-light" type="submit" value="{{ 'registration.submit'|trans }}">
                    REGISTER
                    <i class="material-icons right">check</i>
                </button>
            </div>
        </div>

    </div>
</div>
{{ form_end(form) }}
