{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    {% if users|length > 10 %}
        Too many search results, please be more specific
    {% else %}
        {% for user in users %}
            <a href="{{ path('search_user_profile', {username:user.username}) }}">{{ user.username }}</a><br>
        {% endfor %}
    {% endif %}
{% endblock %}
