<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/fosckeditor/plugins/codesnippet/lib/highlight/styles/default.css') }}">
    <script src="{{ asset('bundles/fosckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/fosckeditor/plugins/codesnippet/lib/highlight/styles/dark.css') }}"/>
    <script>hljs.initHighlightingOnLoad();</script>
    {# fosckeditor #}
</head>
<body>
<div class="container main-container">
    <nav class="header-no-shadow">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li><a href="{{ path('default') }}">Home</a></li>
                {% if app.user %}
                    <li><a href="{{ path('profile') }}">Your profile</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% if app.request.get('_route') == 'default' %}
    <div class="row">
        <div class="row bg">
            <div class="container header">
                <div class="col m2"></div>
                <div class="col m10 margin-do">
                    <h1>Welcome</h1>
                    <div class="col"></div>
                    <div class="col">
                        <h6>Learn, share and repeat </h6>
                    </div>
                    {#<i class="small material-icons">all_inclusive</i>#}
                </div>
                <div class="s2"></div>
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    {% block body %}{% endblock %}
    {% block content %}
        {% block fos_user_content %}{% endblock %}
    {% endblock %}
</div>
<script>

</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% block javascripts %}{% endblock %}
</body>
</html>
