{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        select{
            display: block;
        }
    </style>
    <div class="row">
        {{ form_start(form) }}
        <div class="col m10">
            <blockquote>
                {{ form_errors(form) }}
            </blockquote>
            <h5>Create a new post</h5>
            <div class="input-field col m5">
                {{ form_widget(form.title, { 'attr': {'class': 'validate', 'id': 'title', 'value': post.title} }) }}
                <label for="create_post_title">Title</label>
            </div>
            <div class="input-field col m5">
                {{ form_widget(form.category, { 'attr': {'class': 'autocomplete', 'id': 'autocomplete-input', 'value': post.category} }) }}
                <label for="autocomplete-input">Category</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m10">
            <div class="input-field col m9">
                {{ form_widget(form.content, {'value': post.content, 'attr': {'class': 'materialize-textarea', 'id': 'textarea1', 'name': 'textarea1'} }) }}
                <label for="textarea1"></label>
            </div>
            <div class="input-field col m3">
                <div class="switch">
                    Visibility:<br>
                    <label>
                        Off
                        {{ form_widget(form.visibility, { 'attr': {'id': 'visible'}}) }}
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m10">
            <div class="input-field col m9">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">cloud</i>Edit
                </button>
            </div>
        </div>
    </div>
    {% do form.slug.setRendered() %}
    {{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            var bool = "{{ post.visibility }}";
            if (bool === false) {
                $('#create_post_visibility').prop('checked', false);
            } else {
                $('#create_post_visibility').prop('checked', true);
            }
            $('.chips-autocomplete').chips({
                autocompleteOptions: {
                    data: {
                        'Apple': null,
                        'Microsoft': null,
                        'Google': null
                    },
                    limit: Infinity,
                    minLength: 1,
                },
            });
            $('input.autocomplete').autocomplete({
                data: {
                    {% for category in categories %}
                    '{{ category.name }}': null,
                    {% endfor %}},
                limit: 5,
            });
        });
    </script>
{% endblock %}
