{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block body %}
    <style>
        img{
            max-width: 100%
        }
    </style>
    <div class="row">
        <div class="col m12">
            <div class="col m10">
                <blockquote>
                    {% if post.visibility == null and post.author == app.user %}
                        <p>This post is private! Only you and the people that have permission can see it!</p>
                    {% endif %}
                </blockquote>
                <h4 style="font-weight: 900">{{ post.title }}</h4><br>
                <p style="margin-top: -3%;">Posted by <a href="{{ path('search_user_profile', {username: post.author.username}) }}">{{ post.author.username }}</a></p>
                <div class="divider"></div>
                {{ post.content|raw }}
            </div>
            <div class="col m2">
                {% if app.user == post.author %}
                    <a class="waves-effect waves-light btn" href="{{ path('post_edit', {id: post.id}) }}"><i
                                class="material-icons right">cloud</i>Edit post</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
