{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form method="post" action="{{ path("fos_user_security_check") }}" class="form-signin">
    <div class="container">
        <div class="row">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <h3 class="h3 request">Log in</h3>
            <div class="input-field col m12">
                <label for="inputEmail" class="sr-only">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="inputEmail" name="_username" value="{{ last_username }}" class="form-control"
                       placeholder="Username" required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m12">
                <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m12">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" checked="checked" name="_remember_me" value="on">
                        <span>{{ 'security.login.remember_me'|trans }}</span>
                    </label>
                </p>
            </div>
            <div class="input field col m12">
                <button class="btn waves-effect waves-light" type="submit" id="_submit" name="_submit"
                        value="{{ 'security.login.submit'|trans }}">
                    LOGIN
                    <i class="material-icons right">account_box</i>
                </button>
            </div>
        </div>
    </div>
</form>