{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        select{
            display: block;
        }
    </style>
    <div class="row">
        {{ form_start(form) }}
        <div class="col m10">
            <blockquote>
                {{ form_errors(form) }}
            </blockquote>
            <h5>Create a new post</h5>
            <div class="input-field col m5">
                {{ form_widget(form.title, { 'attr': {'class': 'validate', 'id': 'title'} }) }}
                <label for="create_post_title">Title</label>
            </div>
            <div class="input-field col m5">
                {{ form_widget(form.category, { 'attr': {'class': 'autocomplete', 'id': 'autocomplete-input'} }) }}
                <label for="autocomplete-input">Category</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m10">
            <div class="input-field col m9">
                {{ form_widget(form.content, { 'attr': {'class': 'materialize-textarea', 'id': 'textarea1'} }) }}
                <label for="textarea1"></label>
            </div>
            <div class="input-field col m3">
                <div class="switch">
                    Visibility:<br>
                    <label>
                        Off
                        {{ form_widget(form.visibility, { 'attr': {'value': 'yes'}}) }}
                        <span class="lever"></span>
                        On
                    </label>
                </div>
            </div>
        </div>
    </div>
    {% do form.slug.setRendered() %}
    {#<div class="row">#}
        {#<div class="col m10">#}
            {#<div class="input-field col m9">#}
                {#{{ form_widget(form.slug, { 'attr': {'class': 'validate', 'id': 'slug'} }) }}#}
                {#<label for="slug">Slug</label>#}
            {#</div>#}
            {#<div class="input-field col m3">#}
                {#<div class="switch">#}
                    {#Custom slug:<br>#}
                    {#<label>#}
                        {#Off#}
                        {#<input type="checkbox">#}
                        {#<span class="lever"></span>#}
                        {#On#}
                    {#</label>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col m10">
            <div class="input-field col m9">
                <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right">cloud</i>Create
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.chips-autocomplete').chips({
                autocompleteOptions: {
                    data: {
                        'Apple': null,
                        'Microsoft': null,
                        'Google': null
                    },
                    limit: Infinity,
                    minLength: 1,
                },
            });
            $('input.autocomplete').autocomplete({
                data: {
                    {% for category in categories %}
                    '{{ category.name }}': null,
                    {% endfor %}},
                limit: 5,
            });
        });
    </script>
{% endblock %}
