{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="center">
            <h4 class="category-text">Your posts</h4>
        </div>
        {% for post in posts %}
            <div class="col s12 m4">
                <a href="{{ path('post_show', {category:post.category.slug, post:post.slug }) }}">
                    <div class="card">
                        <div class="card-content">
                            <p>{{ post.title }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
