{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="row">
        <div class="col m12 profile">
            <div class="col m2">

            </div>
            <div class="input-field col m4">
                <input id="username" value="{{ user.username }}" disabled type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col m4">
                <input id="email" disabled value="{{ user.email }}" type="text" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <div class="col m2">
            </div>
            <div class="col m4">
                <p>Click <a href="{{ path('profile_posts') }}">here</a> to see all of your own posts</p>
                <p>Click <a href="{{ path('post_create') }}">here</a> to create a new post</p>
            </div>
        </div>
    </div>
    <div class="row">
        {% for role in user.roles %}
            {{ role|replace({'ROLE_': ' '})|title }}<br>
        {% endfor %}
    </div>
{% endblock %}
